-/* Colors and fonts */
body {
  background-color: #FFFFFF;
}
h1,h2 {
  font-family: 'Lora';
  color: darkorange;
}
h1 {
  font-size: 32px;
  font-weight:bold;
}
h2 {
  font-weight:600px;
  font-size: 24px;
  color: orange;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lora';
  transition: color 0.5s ease;
}
p {
  font-family: 'roboto';
  font-size: 17px;
  font-weight: 300px;
}
.container {
  width: 700px;
  margin: 40px auto;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 350px;
  }
}
.card-blanc {
background-color: #FFFFFF;
padding: 30px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
border-radius: 10px;
margin: 35px 0px;
text-align: center;
}
.img-rond {
  width: 140px;
  border-radius: 50%;
}
.button-orange {
  background-color: darkorange;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.button-orange:hover {
  opacity: 0.8;
}
.list-enligne {
  list-style: none;
  padding-left: 0px;
}
.list-enligne li {
  display: inline;
  padding:  10px;
}
.list-enligne i {
  font-size: 52px;
  color: orange;
  opacity: 0.7;
}
#introduction p{
margin-bottom: 32px;
}
